<div class="footer_top">

            <!-- Поиск-->
			<div id="search" class="footer1">
				<form action="/products">
					<input class="input_search" type="text" name="keyword" value="" placeholder="Поиск товара">
					<input class="button_search" value="" type="submit">
				</form>
			</div>
			<!-- Поиск (The End)-->
			<div class="footer2">
			 <div class="left">+7 495 593 43 73</div>
			 <div class="right">+7 495 922 80 30</div>
			 <div class="clear"></div>
			</div>
			<div class="footer3">
			 <div class="vkicon"></div>
			 <div class="fbicon"></div>
			 <div class="odicon"></div>
			 <div class="twicon"></div>
			</div>
			<div class="clear"></div>
		</div>